/* styles.css */
header {
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}


article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

article p {
    line-height: 1.5;
}


footer {
    /*center the footer*/
    margin-top: 20px;
    text-align: center;
    /*font size*/
    font-size: .70em;
    /*padding*/
    padding: 1.25em;
    /*text color of the footer*/
    color: gray;
}
